layout {
	pane split_direction="vertical" {
		pane edit="package.json" size="65%"
		pane split_direction="horizontal" {
			pane command="pnpm" {
				args "run" "dev"
			}
			pane
		}
	}

    pane size=1 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/download/v0.13.1/zjstatus.wasm"
    }
}
