layout {
	pane split_direction="vertical" {
		pane edit="Cargo.toml" size="65%"
		pane split_direction="horizontal" size="35%" {
			pane command="cargo" {
				args "check"
			}
			pane command="cargo" {
				args "test"
			}
			pane
		}
	}

    pane size=1 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/download/v0.12.0/zjstatus.wasm"
    }
}
